.navbar-dark .navbar-toggler {
    border-color: #521945;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .nav-link-highlight:hover,
  .nav-link-highlight:focus {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }